<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/main-style.css">
</head>
<body>
    <ul class="navbar">
        <li class="navbar-li"><a class="<%= typeof page_tab !== 'undefined' && page_tab === 'home' ? 'active' : ''%>" href="/">Home</a></li>
        <li class="navbar-li"><a href="#news">News</a></li>
        <li class="navbar-li"><a href="#contact">Contact</a></li>
        <li class="navbar-li"><a href="#about">About</a></li>
        <li class="user-about-li navbar-li">
            <div class="user-activity">
                <% if (typeof avatar_name !== 'undefined') { %>
                    <img width="25px" src="/uploads/<%= avatar_name %>" alt="Avatar">
                <% } %>
                <p class="user-about"><%= typeof user_name !== 'undefined' ? user_name : ''%></p>
                <a href="/auth/logout">Logout</a>
            </div>
        </li>
    </ul>

    <%- body %>
</body>
</html>